doctype html

html
  head
    title StreamSync v#{version}
  body
    h1 StreamSync v#{version}
    video#player-element(controls)
      source(src="http://iss.lannysport.net/heap/2019032622090300-C6D726972790F87F6521C61FBA400A1DX.mp4" type="video/mp4")
      p Video playback is not supported by your browser
    script(src="/socket.io/socket.io.js")
    script(src="/static/client.js")
