doctype html

html
  head
    title CGRO v#{version}
    link(rel="stylesheet" href="/static/vendor/normalize.css")
    link(rel="stylesheet" href="/static/css/styles.css")
  body(data-bind="event: {mousemove: onMouseMove, mouseup: onMouseUp}")
    .subwindows(data-bind="foreach: subwindows")
      div(data-bind="template: {name: 'faux-window-template', data: $data}")

    h1#CGRO-header Compton Gamma Ray Observatory v#{version}
    .main-video-container
      .player-container(data-bind="using: playerVM")
        video#player-element(data-bind="click: togglePlayState")
          source(data-bind="attr: {src: videoSrc}" type="video/mp4")
          p Video playback is not supported by your browser
        .player-controls
          button.play-pause(data-bind="click: togglePlayState")
            img(data-bind="attr: {src: playPauseIcon}")
          .time-indicator
            span.current-time(data-bind="text: currentTime")
            span &nbsp;/&nbsp;
            span.duration(data-bind="text: duration")
          .spacer
          .volume-control(data-bind=`
            template: {name: 'drag-bar-template', data: volumeControl}
          `)
          button.change-src(data-bind="click: promptForNewSource")
            img(src="/static/svg/change-video.svg")

    script#faux-window-template(type="text/html")
      include includes/faux-window-template.pug
    script#prompt-template(type="text/html")
      include includes/prompt-template.pug
    script#drag-bar-template(type="text/html")
      include includes/drag-bar-template.pug

    script(src="/socket.io/socket.io.js")
    script(src="/static/vendor/knockout-3.5.0.js")
    script(src="/static/js/client.js")
