doctype html

html
  head
    title CGRO v#{version}
  body
    h1 Compton Gamma Ray Observatory v#{version}
    video#player-element(controls)
      source(src="http://iss.lannysport.net/heap/smush.mp4" type="video/mp4")
      p Video playback is not supported by your browser

    button#cgro-play Play
    button#cgro-pause Pause

    script(src="/socket.io/socket.io.js")
    script(src="/static/client.js")
